<form class="signup" action="/users?_method=put" method="post">
  <ul>
    <li>Avatar: <input type="text" name="user[avatar]" value="{{user.avatar}}"></li>
    <li>Username: <input type="text" name="user[username]" value="{{user.username}}"></li>
    <!-- <li>Password: <input type="password" name="user[password]" value="user[password]"></li> -->
    <li>Phone Number: <input type="text" name="user[phoneNumber]" value="{{user.phoneNumber}}"></li>
    <li>Location Latitude: <input class="locationLat" type="text" name="user[locationLat]" value="{{user.locationLat}}"></li>
    <li>Location Longitude: <input class="locationLong" type="text" name="user[locationLong]" value="{{user.locationLong}}"></li>
    <li><button id="location">Get Location</button></li>
  </ul>
  <button id="submit">Submit</button>
</form>
